	<div id="top-block" class="header-container">
		<div class="container">
			<h1>Welcome to Tiny Blog</h1>
		</div>
  	</div>
  	<nav id="docs-nav " class="navbar navbar-fixed-top bs-docs-nav" role="navigation">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Tiny Blog</a>
			</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--
					<li ><a href="#">Page1</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalog <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Catalog1</a></li>
							<li><a href="#">Catalog2</a></li>
							<li class="divider"></li>
							<li><a href="#">Catalog3</a></li>
							<li class="divider"></li>
							 <li><a href="#">Catalog4</a></li>
						</ul>
					</li>
					-->
					<li><a href="/board">Board</a></li>
					<!--
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
					-->
					<li><a href="https://github.com/Yezersky/TinyBlog">About</a></li>
				</ul>
				<% if(username) { %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><%=username%></a></li>
					<li><a href="/signout">Sign out</a></li>
				</ul>
				<% } else { %>
				<form class="navbar-form navbar-right" role="login" action="/signin" method="post">
					<div class="form-group">
						<!--
						<input type="text" class="form-control" placeholder="Search">
						-->
						<input type="username" class="form-control docs-navbar-form" id="username" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control docs-navbar-form" id="password" name="password" placeholder="Password">
					</div>
					<button type="button"  id="signin" class="btn btn-default">Sign in</button>
					<a href="/signup" class="navbar-signup">Sign up</a>
					<!--
					<button type="button" class="btn btn-default" onclick="javascript:window.location.href='signup'">Sign up</button>
					-->
				</form>
				<% } %>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>